<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sudoku-en.ZPM">
    <Module>
      <Name>sudoku-en</Name>
      <Version>1.0.4</Version>
      <Description>SUDOKU demo - English</Description>
      <Keywords>Terminal, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="SUDOKU5.MAC"/>
    </Module>
  </Document>
</Export>
